@import '../../styles/mixins';
@import '../../styles/vars';
@import 'include-media';

.task{
    background-color: $textColor;
    color: $white;
    font-size: 20px;
    font-weight: 800;
    padding: 10px 25px;
    border-radius: 13px;
    width: 100%;
width: 600px;
@include media($breakpoint){
    width: 350px;
}
    .taskCardElements{
        display: flex;
        justify-content: space-between;
        
}

}
    .active{
        background-color: antiquewhite;
        color: black
    }

    .done{
        background-color: gray;
        color: black;
        opacity: 50%;
    }