@import './vars';

@mixin progressLine($color: black, $width: 0px){
    width: $width;
        background-color: $color;
        height: 10px;
}

@mixin input($width: 100%){
    border: 1px solid $textColor;
    width: $width;
    border-radius: 13px;
    padding: 10px;
    font-size: 20px;
    color: gray;
}