@import '../../styles/vars';
@import '../../styles/mixins';
@import "include-media";


.taskMenu{
    background-color: $white;
    box-shadow: 2px 2px 13.3px #C5C5C5;
    border-radius: 15px 15px 0px 0px;
    padding: 20px 142px;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    @include media($breakpoint){
        width: 400px;
    }


    .form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px;

        .input{
            @include input(300px);
        }

        .timeInputs{
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 10px;
            .input{
                @include input($width: 100px);
            }
            label{
                font-size: 20px;
                font-weight: bold;
            }
        }
    }

    
   
} 
.touchLine{
        padding-bottom: 20px;
    }

.MainTaskMenu{
    background-color: $white;
    box-shadow: 2px 2px 13.3px #C5C5C5;
    border-radius: 15px 15px 0px 0px;
    padding: 20px 142px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    @include media($breakpoint){
        width: 400px;
    }

}