@import '../../styles/vars';
@import '../../styles/mixins';


.progressbar{
    width: 315px;
    height: 13px;
    border: 2px solid black;
    border-radius: 11px;
    
    .progressLine{
       @include progressLine($color: #7D9EF2 );
       border-radius: 15px;
       height: 9px;
        
    }
 

}